<%- include("./partials/head.ejs") %>

<body>

<%- include("./partials/navbar.ejs") %>

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main hero START -->
<section class="pt-lg-8">
	<div class="container pt-4 pt-lg-0">
		<!-- Breadcrumb & title -->
		<div class="row align-items-center mb-7">
			<div class="col-xl-6">
				<!-- Breadcrumb -->
				<div class="d-flex position-relative z-index-9">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb breadcrumb-dots mb-1">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Our Projects</li>
						</ol>
					</nav>
				</div>
				<!-- Title -->
				<h1 class="display-5">Lorem ipsum dolor sit amet consect.</h1>
			</div>
			<!-- Content -->
			<div class="col-xl-5 ms-auto">
				<p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum animi eius ea? Ad placeat minima vero nisi! Porro odio provident veritatis.</p>
				<div class="text-center d-inline-block bg-light border rounded px-5 py-3">
					<span class="heading-color">Work with us?</span> <a class="ms-2" href="/contact">Contact us now<span class="bi-chevron-right small ms-1"></span></a>
				</div>
			</div>
		</div>

		<!-- Portfolio item START -->
		<div class="card card-img-scale bg-transparent overflow-hidden mb-6 mb-xl-8">
			<div class="row g-xl-6 align-items-center">
				<div class="col-lg-6">
					<!-- Card Image -->              
					<div class="card-img-scale-wrapper rounded-2 h-100">
						<img src="images/portfolio/list/02.jpg" class="img-scale" alt="portfolio-img">
					</div>
				</div>

				<!-- Content -->
				<div class="col-lg-6">
					<!-- Card body -->
					<div class="card-body h-100 px-0 p-xl-5">
						<!-- Title -->
						<h4 class="card-title">Lorem Ipsum</h4>
						<p class="card-text mb-3 mb-lg-4">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo asperiores, aliquid necessitatibus praesentium 
							recusandae repellat deleniti esse fugit nihil provident enim exercitationem molestiae accusantium iure assumenda 
							amet dolore dolores sapiente.
						</p>
						<!-- Button -->
						<a href="#" class="text-primary-hover stretched-link heading-color mb-0">Read More<i class="fa-solid fa-arrow-right-long fa-fw ms-2"></i></a>
					</div>
				</div>
			</div>
		</div>
		<!-- Portfolio item END -->

		<!-- Portfolio item START -->
		<div class="card card-img-scale bg-transparent overflow-hidden mb-6 mb-xl-8">
			<div class="row g-xl-6 align-items-center">
				<!-- Content -->
				<div class="col-lg-6 order-2">
					<!-- Card body -->
					<div class="card-body text-lg-end h-100 px-0 p-xl-5">
						<h4 class="card-title">Lorem Ipsum</h4>
						<p class="card-text mb-3 mb-lg-4">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo asperiores, aliquid necessitatibus praesentium 
							recusandae repellat deleniti esse fugit nihil provident enim exercitationem molestiae accusantium iure assumenda 
							amet dolore dolores sapiente.
						</p>
						<!-- Button -->
						<a href="#" class="text-primary-hover stretched-link heading-color mb-0">Read More<i class="fa-solid fa-arrow-right-long fa-fw ms-2"></i></a>
					</div>
				</div>

				<div class="col-lg-6 order-1 order-lg-2">
					<div class="card-img-scale-wrapper rounded-2 overflow-hidden h-100">
						<!-- Card Image -->              
						<img src="images/portfolio/list/01.jpg" class="img-scale" alt="portfolio-img">
					</div>
				</div>
			</div>
		</div>
		<!-- Portfolio item END -->

		<!-- Portfolio item START -->
		<div class="card card-img-scale bg-transparent overflow-hidden mb-6 mb-xl-8">
			<div class="row g-xl-6 align-items-center">
				<div class="col-lg-6">
					<!-- Card Image -->              
					<div class="card-img-scale-wrapper rounded-2 h-100">
						<img src="images/portfolio/list/03.jpg" class="img-scale" alt="portfolio-img">
					</div>
				</div>

				<!-- Content -->
				<div class="col-lg-6">
					<!-- Card body -->
					<div class="card-body h-100 px-0 p-xl-5">
						<h4 class="card-title">Lorem Ipsum</h4>
						<p class="card-text mb-3 mb-lg-4">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo asperiores, aliquid necessitatibus praesentium 
							recusandae repellat deleniti esse fugit nihil provident enim exercitationem molestiae accusantium iure assumenda 
							amet dolore dolores sapiente.
						</p>
						<!-- Button -->
						<a href="#" class="text-primary-hover stretched-link heading-color mb-0">Read More<i class="fa-solid fa-arrow-right-long fa-fw ms-2"></i></a>
					</div>
				</div>
			</div>
		</div>
		<!-- Portfolio item END -->

		<!-- Portfolio item START -->
		<div class="card card-img-scale bg-transparent overflow-hidden mb-6 mb-xl-8">
			<div class="row g-xl-6 align-items-center">
				<!-- Content -->
				<div class="col-lg-6 order-2">
					<!-- Card body -->
					<div class="card-body text-lg-end h-100 px-0 p-xl-5">
						<h4 class="card-title">Lorem Ipsum</h4>
						<p class="card-text mb-3 mb-lg-4">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo asperiores, aliquid necessitatibus praesentium 
							recusandae repellat deleniti esse fugit nihil provident enim exercitationem molestiae accusantium iure assumenda 
							amet dolore dolores sapiente.
						</p>
						<!-- Button -->
						<a href="#" class="text-primary-hover stretched-link heading-color mb-0">Read More<i class="fa-solid fa-arrow-right-long fa-fw ms-2"></i></a>
					</div>
				</div>

				<div class="col-lg-6 order-1 order-lg-2">
					<div class="card-img-scale-wrapper rounded-2 overflow-hidden h-100">
						<!-- Card Image -->              
						<img src="images/portfolio/list/04.jpg" class="img-scale" alt="portfolio-img">
					</div>
				</div>
			</div>
		</div>
		<!-- Portfolio item END -->

		<!-- Pagination START -->
		<div class="row mt-7">
			<div class="col-12">
				<ul class="pagination pagination-primary-soft list-unstyled d-flex justify-content-center flex-wrap mb-0">
					<li class="page-item">
						<a class="page-link" href="#"><i class="fas fa-long-arrow-alt-left me-2 rtl-flip"></i>Prev</a>
					</li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item active"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#">..</a></li>
					<li class="page-item"><a class="page-link" href="#">22</a></li>
					<li class="page-item"><a class="page-link" href="#">23</a></li>
					<li class="page-item">
						<a class="page-link" href="#">Next<i class="fas fa-long-arrow-alt-right ms-2 rtl-flip"></i></a>
					</li>
	      </ul>
			</div>
		</div>
		<!-- Pagination END -->
	</div>	
</section>
<!-- =======================
Main hero END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<%- include("./partials/footer.ejs") %>

</body>
</html>