<%- include("./partials/head.ejs") %>

<body>

<%- include("./partials/navbar.ejs") %>

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main Banner START -->
<section class="pt-7 pb-0">
	<div class="container-fluid pt-3 pt-xl-5">
		<div class="row">
			<div class="col-xxl-11 mx-auto">
				<div class="card bg-parallax h-300px h-md-400px h-xl-500px overflow-hidden" style="background:url(images/bg/team.jpg) no-repeat; background-size:cover; background-position:center;">
					<!-- background dark overlay -->
					<div class="bg-overlay bg-dark bg-opacity-50"></div>
					<!-- Title -->
					<div class="card-img-overlay d-flex align-items-center justify-content-center text-center z-index-2">
						<h1 class="display-4 text-white">We're Humanitarians</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Main Banner END -->

<!-- =======================
Team grid START -->
<section>
	<div class="container">
		<div class="row g-4 g-sm-6">
			<!-- Team item -->
			<div class="col-sm-6 col-md-4 col-xl-4">
				<div class="card card-img-scale bg-transparent overflow-hidden">
					<!-- Social links -->
					<div class="position-absolute top-0 end-0 z-index-2 m-4">
						<ul class="list-inline mb-0 mb-2 mb-sm-0">
							<li class="list-inline-item"> 
								<a class="btn-icon btn-sm rounded mb-2 bg-facebook" href="https://www.facebook.com/sumie.hamid/" target="_blank">
									<i class="fab fa-fw fa-facebook-f"></i>
								</a> 
							</li>
							<li class="list-inline-item"> 
								<a class="btn-icon btn-sm rounded mb-2 bg-twitter" href="https://twitter.com/sumi_hamid" target="_blank">
									<i class="fab fa-fw fa-twitter"></i>
								</a> 
							</li>
							<li class="list-inline-item"> 
								<a class="btn-icon btn-sm rounded mb-2 bg-linkedin" href="https://www.linkedin.com/in/sumi-hamid-560326185/" target="_blank">
									<i class="fab fa-fw fa-linkedin-in"></i>
								</a> 
							</li>
						</ul>
					</div>
					<div class="card-img-scale-wrapper rounded-3 text-center">
						<!-- Card Image -->              
						<img src="images/team/Hamid.jpeg" width="300" class="img-scale" alt="card image">
					</div>
					<!-- Card body -->
					<div class="card-body text-center px-0 pb-0">
						<h6 class="mb-0"><a href="#" class="stretched-link">Sumi Hamid</a></h6>
						<small>Founder & Executive Director</small>
					</div>
				</div>
			</div>

			<!-- Team item -->
			<div class="col-sm-6 col-md-4 col-xl-4">
				<div class="card card-img-scale bg-transparent overflow-hidden">
					<!-- Social links -->
					<div class="position-absolute top-0 end-0 z-index-2 m-4">
						<ul class="list-inline mb-0 mb-2 mb-sm-0">
							<li class="list-inline-item"> 
								<a class="btn-icon btn-sm rounded mb-2 bg-linkedin" 
								   href="https://www.linkedin.com/in/brenda-akwii-156aa2315?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" 
								   target="_blank"
								>
									<i class="fab fa-fw fa-linkedin-in"></i>
								</a> 
							</li>
						</ul>
					</div>
					<div class="card-img-scale-wrapper rounded-3 text-center">
						<!-- Card Image -->              
						<img src="images/team/Brenda.jpeg" width="300" class="img-scale" alt="card image">
					</div>
					<!-- Card body -->
					<div class="card-body text-center px-0 pb-0">
						<h6 class="mb-0"><a href="#" class="stretched-link">Brenda Akwi</a></h6>
						<small>Co-founder & Head of Finance</small>
					</div>
				</div>
			</div>

			<!-- Team item -->
			<div class="col-sm-6 col-md-4 col-xl-4">
				<div class="card card-img-scale bg-transparent overflow-hidden">
					<!-- Social links -->
					<div class="position-absolute top-0 end-0 z-index-2 m-4">
						<ul class="list-inline mb-0 mb-2 mb-sm-0">
							<li class="list-inline-item"> 
								<a class="btn-icon btn-sm rounded mb-2 bg-twitter" href="#" target="_blank">
									<i class="fab fa-fw fa-twitter"></i>
								</a> 
							</li>
							<li class="list-inline-item"> 
								<a class="btn-icon btn-sm rounded mb-2 bg-linkedin" href="#" target="_blank">
									<i class="fab fa-fw fa-linkedin-in"></i>
								</a> 
							</li>
						</ul>
					</div>
					<div class="card-img-scale-wrapper rounded-3 text-center">
						<!-- Card Image -->              
						<img src="images/team/Damour.jpeg" width="300" class="img-scale" alt="card image">
					</div>
					<!-- Card body -->
					<div class="card-body text-center px-0 pb-0">
						<h6 class="mb-0"><a href="#" class="stretched-link">Tusingwire Damour Enriques</a></h6>
						<small>Head of Programs</small>
					</div>
				</div>
			</div>
			
			<!-- Team item -->
			<div class="col-sm-6 col-md-4 col-xl-4">
				<div class="card card-img-scale bg-transparent overflow-hidden">
					<!-- Social links -->
					<div class="position-absolute top-0 end-0 z-index-2 m-4">
						<ul class="list-inline mb-0 mb-2 mb-sm-0">
							<li class="list-inline-item"> 
								<a class="btn-icon btn-sm rounded mb-2 bg-facebook" href="#" target="_blank">
									<i class="fab fa-fw fa-facebook-f"></i>
								</a> 
							</li>
							<li class="list-inline-item"> 
								<a class="btn-icon btn-sm rounded mb-2 bg-instagram-gradient" href="#" target="_blank">
									<i class="fab fa-fw fa-instagram"></i>
								</a> 
							</li>
						</ul>
					</div>
					<div class="card-img-scale-wrapper rounded-3 text-center">
						<!-- Card Image -->              
						<img src="images/team/Isabela.jpeg" width="300" class="img-scale" alt="card image">
					</div>
					<!-- Card body -->
					<div class="card-body text-center px-0 pb-0">
						<h6 class="mb-0"><a href="#" class="stretched-link">Isabela Mbabazi</a></h6>
						<small>Partnerships and Grants Director</small>
					</div>
				</div>
			</div>

			<!-- Team item -->
			<div class="col-sm-6 col-md-4 col-xl-4">
				<div class="card card-img-scale bg-transparent overflow-hidden">
					<!-- Social links -->
					<div class="position-absolute top-0 end-0 z-index-2 m-4">
						<ul class="list-inline mb-0 mb-2 mb-sm-0">
							<li class="list-inline-item"> 
								<a class="btn-icon btn-sm rounded mb-2 bg-instagram-gradient" href="#" target="_blank">
									<i class="fab fa-fw fa-instagram"></i>
								</a> 
							</li>
						</ul>
					</div>
					<div class="card-img-scale-wrapper rounded-3 text-center">
						<!-- Card Image -->              
						<img src="images/team/avatar.jpeg" width="300" class="img-scale" alt="card image">
					</div>
					<!-- Card body -->
					<div class="card-body text-center px-0 pb-0">
						<h6 class="mb-0"><a href="#" class="stretched-link">Roman</a></h6>
						<small>PR & ICT Manager</small>
					</div>
				</div>
			</div>

			<!-- Team item -->
			<div class="col-sm-6 col-md-4 col-xl-4">
				<div class="card card-img-scale bg-transparent overflow-hidden">
					<!-- Social links -->
					<div class="position-absolute top-0 end-0 z-index-2 m-4">
						<ul class="list-inline mb-0 mb-2 mb-sm-0">
							<li class="list-inline-item"> 
								<a class="btn-icon btn-sm rounded mb-2 bg-facebook" href="#" target="_blank">
									<i class="fab fa-fw fa-facebook-f"></i>
								</a> 
							</li>
							<li class="list-inline-item"> 
								<a class="btn-icon btn-sm rounded mb-2 bg-instagram-gradient" href="#" target="_blank">
									<i class="fab fa-fw fa-instagram"></i>
								</a> 
							</li>
						</ul>
					</div>
					<div class="card-img-scale-wrapper rounded-3 text-center">
						<!-- Card Image -->              
						<img src="images/team/avatar.jpeg" width="300" class="img-scale" alt="card image">
					</div>
					<!-- Card body -->
					<div class="card-body text-center px-0 pb-0">
						<h6 class="mb-0"><a href="#" class="stretched-link">Lori Stevens</a></h6>
						<small>Lorem ipsum dolor</small>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- =======================
Team grid END -->


</main>
<!-- **************** MAIN CONTENT END **************** -->

<%- include("./partials/footer.ejs") %>

</body>
