<%- include("./partials/head.ejs") %>

<body>

<%- include("./partials/navbar.ejs") %>
<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main hero START -->
<section class="pt-lg-8 pt-xl-9">
	<div class="container position-relative pt-4 pt-lg-0">
		<div class="row align-items-center">
			<!-- Title -->
			<div class="col-md-7 col-xl-6 mb-7 mb-md-0">
				<h1 class="mb-4">Discover our programs</h1>
				<p class="mb-4">
					At Humanitarian Services Action (HuSA), our work encompasses a range of initiatives aimed at
					addressing pressing social problems and improving the well-being of vulnerable populations.
				 </p>
				<a href="/contact" class="btn btn-lg btn-dark mb-5"><i class="bi bi-telephone me-2"></i>Contact us</a>
				<!-- Rating -->
				<div class="d-sm-flex align-items-center">
					<!-- Avatar group -->
					<ul class="avatar-group mb-0 align-items-center">
						<li class="avatar avatar-lg">
							<i class="fa fa-object-group avatar rounded-circle bg-primary"></i>
						</li>
					</ul>

					<!-- Info -->
					<div class="ms-sm-3 mt-2 mt-sm-0">
						<p class="heading-color fw-normal mb-1">Through our strategic objectives, we undertake various programs and interventions:</p>
					</div>
				</div>
			</div>

			<!-- Image -->
			<div class="col-md-5 ms-auto">
				<img src="images/elements/human1.svg" alt="" width="300" height="300">
			</div>
		</div>
	</div>	
</section>
<!-- =======================
Main hero END -->

<!-- =======================
Feature START -->
<section class="pt-0">
	<div class="container">
		<div class="row g-4 g-lg-5">
			<!-- Service item -->
			<div class="col-md-6">
				<div class="card card-body card-hover-shadow border d-flex flex-row p-4 h-100">
					<!-- Icon -->
					<figure class="text-primary mb-0">
						<i class="fa-solid fa-hand icons"></i>
					</figure>

					<!-- Title -->
					<div class="d-flex flex-column ms-4">
						<h5 class="mb-3">GBV Prevention and Response</h5>
						<p class="mb-3">
							HuSA implements strategies to reduce incidents of Gender-Based Violence (GBV) and
							improve access to support services through advocacy, training workshops, empowerment
							initiatives, and referral networks.
						</p>
					</div>
				</div>
			</div>

			<!-- Service item -->
			<div class="col-md-6">
				<div class="card card-body card-hover-shadow border d-flex flex-row p-4 h-100">
					<!-- Icon -->
					<figure class="text-primary mb-0">
						<i class="fa-solid fa-user-graduate icons"></i>
					</figure>

					<!-- Title -->
					<div class="d-flex flex-column ms-4">
						<h5 class="mb-3">Structured Educational Programs</h5>
						<p class="mb-3">
							We develop and implement educational initiatives within refugee communities to enhance
							mental health, including trauma healing training, social and emotional learning (SEL),
							language classes, and remedial education programs.
						</p>
					</div>
				</div>
			</div>

			<!-- Service item -->
			<div class="col-md-6">
				<div class="card card-body card-hover-shadow border d-flex flex-row p-4 h-100">
					<!-- Icon -->
					<figure class="text-primary mb-0">
						<i class="fa-solid fa-tree icons"></i>
					</figure>

					<!-- Title -->
					<div class="d-flex flex-column ms-4">
						<h5 class="mb-3">Environmental Protection Measures</h5>
						<p class="mb-3">
							Collaborating with local authorities and stakeholders, we work to create safe living
							environments through advocacy, transitional clean energy solutions, tree planting
							initiatives, and environmental awareness campaigns.
						</p>
					</div>

				</div>
			</div>

			<!-- Service item -->
			<div class="col-md-6">
				<div class="card card-body card-hover-shadow border d-flex flex-row p-4 h-100">
					<!-- Icon -->
					<figure class="text-primary mb-0">
						<i class="fa-solid fa-hands-holding-child icons"></i>
					</figure>

					<!-- Title -->
					<div class="d-flex flex-column ms-4">
						<h5 class="mb-3">Child Protection</h5>
						<p class="mb-3">
							Strengthening measures for safeguarding children within refugee communities is a priority,
							achieved through training community volunteers, supporting child-led activities,
							conducting advocacy, and establishing child play centers.
						</p>
					</div>
				</div>
			</div>

			<!-- Service item -->
			<div class="col-md-6">
				<div class="card card-body card-hover-shadow border d-flex flex-row p-4 h-100">
					<!-- Icon -->
					<figure class="text-primary mb-0">
						<i class="fa-solid fa-users-between-lines icons"></i>
					</figure>

					<!-- Title -->
					<div class="d-flex flex-column ms-4">
						<h5 class="mb-3">Community Resilience and Social Cohesion:</h5>
						<p class="mb-3">
							Community Resilience and Social Cohesion: We enhance community well-being by
							organizing support visits, sports tournaments, cultural orientation initiatives,
							empowerment projects, vocational skills training, health promotion initiatives, and talent
							promotion programs.
						</p>
					</div>
				</div>
			</div>

			<!-- Service item -->
			<div class="col-md-6">
				<div class="card card-body card-hover-shadow border d-flex flex-row p-4 h-100">
					<!-- Icon -->
					<figure class="text-primary mb-0">
						<i class="fa-solid fa-bowl-food icons"></i>
					</figure>

					<!-- Title -->
					<div class="d-flex flex-column ms-4">
						<h5 class="mb-3">Food Security Interventions:</h5>
						<p class="mb-3">
							HuSA implements sustainable agricultural innovations to enhance food security and mental
							well-being, including training on sustainable agriculture practices, establishing community
							gardens, conducting nutrition education, and implementing income-generating projects.
						</p>
					</div>

				</div>
			</div>
		</div>
	</div>	
</section>
<!-- =======================
Feature END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<%- include("./partials/footer.ejs") %>
</body>
